<template>
  <div class="home">
    <h1>дабро пожаловать</h1>
    <v-row>
      <v-spacer></v-spacer>
      <v-col cols="12" md="10">
        <v-text-field v-model="search" label="Search"></v-text-field>
        <v-btn depressed @click="searchPost" large color="primary"
          >Search</v-btn
        >
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: "Home",
  data() {
    return {
      search: null
    };
  },
  methods: {
    searchPost() {
      if (this.search) {
        this.$router.push({
          path: "search",
          query: { page: 1, repository: this.search }
        });
      }
    }
  },
  mounted() {
    this.$store.commit("mutationsUserInfo", []);
  }
};
</script>
