<template>
  <div class="about">
    <h1>Search Page</h1>
    <div v-if="getUserInfo.length">
      <div class="tables-container">
        <div
          v-for="(info, index) of showPageInfo"
          :key="index"
          class="tables-content"
        >
          <div class="tables-item">{{ info.full_name }}</div>
          <div class="tables-item">{{ info.name }}</div>
          <div class="tables-item">
            <span>Star -</span>
            {{ info.stargazers_count }}
          </div>
          <div class="tables-item">
            <a :href="info.svn_url" target="_blank">Repositosy</a>
          </div>
        </div>
        <app-pagination
          @pageIndex="changePageIndex($event)"
          :pageLength="pageLength"
          :activePage="+pagePagination"
        ></app-pagination>
      </div>
    </div>
    <div v-if="getShowError">Page not a found</div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import Pagination from "../components/pagination.vue";
export default {
  components: {
    "app-pagination": Pagination
  },
  data() {
    return {
      querySearch: this.$route.query.repository || "",
      showPageInfo: [],
      pageLength: Number,
      pagePagination: Number
    };
  },
  computed: {
    ...mapGetters(["getUserInfo", "getShowError"])
  },
  methods: {
    changePageIndex(evn) {
      this.pagePagination = evn;
      this.showPageInfo = this.getUserInfo.slice((evn - 1) * 5, evn * 5);
    }
  },
  watch: {
    getUserInfo() {
      let queryPage = this.$route.query.page;
      this.pageLength = Math.ceil(this.getUserInfo.length / 5);
      this.changePageIndex(queryPage);
      if (queryPage > this.pageLength || queryPage < 0) {
        this.changePageIndex(1);
      }
    }
  },
  mounted() {
    this.$store.dispatch("getUser", this.querySearch);
  }
};
</script>
<style lang="css">
.tables-container {
  padding: 100px 50px;
}
.tables-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
.tables-item {
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.tables-item a {
  text-decoration: none;
}
</style>
