<template>
  <div class="pagination-container">
    <div
      v-for="(page, index) of pageLength"
      :key="index"
      @click="emitPage(index + 1)"
      class="pagination-item"
      :class="{ active: index + 1 === activePage }"
    >
      <div class="pagination-item-text">{{ page }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pageLength: {
      type: Number,
      required: true
    },
    activePage: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      someRepository: this.$route.query.repository || ""
    };
  },
  methods: {
    emitPage(event) {
      this.$emit("pageIndex", event);
      this.$router
        .replace({
          path: "/search",
          query: {
            page: event,
            repository: this.someRepository
          }
        })
        .catch(() => {});
    }
  }
};
</script>
<style lang="css">
.pagination-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-item {
  cursor: pointer;
}
.pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.pagination-item-text {
  padding: 10px;
}
.active {
  background-color: rgba(0, 0, 0, 0.5);
}
</style>
